div#gmoGoogleMapWrap{
	width:930px;
	}

div#gmoplugLeft{
	float:left;
	width:650px;
	}

input.gmo_Address{
	width:400px;
	}

input.gmo_google_map_Width,
input.gmo_google_map_Height,
input.gmo_google_map_Breakpoint{
	width: 100px;
	}

input.gmo_google_map_Zoom{
	width: 50px;
	}

td.gmo_google_map_Save{
	padding-left: 400px;
	}

span.gmo_google_map_Ex{
	color:#999;
	margin-left: 10px;
	font-size: 12px;
	}
	

/* gmoplugRight */
#gmoGoogleMapWrap #gmoplugRight{float:right;width:246px;background:url(../images/wpcloud_bg.gif);border:2px solid #c8c0ae;color:#726851}
#gmoGoogleMapWrap #gmoplugRight p.title{background-color:#c8c0ae;color:#726851;font-size:23px;font-weight:bold;margin:0;text-align:center;line-height:56px}
#gmoGoogleMapWrap #gmoplugRight div{padding:0 18px 54px}
#gmoGoogleMapWrap #gmoplugRight div h3{font-size:14px;font-weight:bold;color:#726851;padding:0;border:0;margin:23px 0 8px}
#gmoGoogleMapWrap #gmoplugRight div p{font-size:14px;line-height:20px;margin:5px 0 33px}
#gmoGoogleMapWrap #gmoplugRight div a.logo{display:block;text-align:center;padding:22px 0 0}


.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	}

.clearfix {
	display: block;
	}